table{
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-left: 280px;
}
td,th{
    border: 1px solid black;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(206, 172, 172);
    color: white;
}
.dark{
    background-color: rgb(153, 153, 216);
}

*{
    margin: 0;
    padding: 0;
    color: white;
}
.first-table{
    margin-top: 50px;
    margin-left: 100px;
}
.title{
    margin: 40px;
    text-align: center;
}
.code{
    border: 1px solid green;
    padding: 32px;
}
.black{
    background-color: black;
}
.code{
    background-color: white;
}
.chess{
    margin-left: 10px;
    margin-top: 200px;
}
thead{
    border: 1px solid green;
}
caption {
    color: tomato;
    font-size: 25px;
    margin-bottom: 10px;
}

.title{
    color: tomato;
    font-size: 34px;
    font-weight: bolder;
}